.intro-msg
{
	text-align: center;
	padding-top: 20%;
	padding-bottom: 10%;
	color: #FFF;
}

body{
	background: url(intro-bg.jpg) no-repeat center center;
}

.signup-form
{
	color: #fff;
	text-align: center;
	
}